<div class="sidebar">
  <p>Gym Tec</p>
  <a href="actividades">Actividades</a>
  <a href="consulta">Consulta</a>
  <a href="admin">Administrador</a>
</div>

<div class="form">
	<h1>Administrador</h1>
	<p>Crear Actividad</p>

	<%= form_for :actividad, url: admin_path do |f| %>
	<p>
		<%= f.label :nombre %><br>
		<%= f.text_field :nombre %>
	</p>
	<p>
		<%= f.label :hora_Inicio %><br>
		<%= f.time_field :horaInicio %>
	</p>
	<p>
		<%= f.label :hora_Fin %><br>
		<%= f.time_field :horaFin %>
	</p>
	<table>
		<tr>
			<th><%= f.label :Lu %></th>
			<th><%= f.label :Ma %></th>
			<th><%= f.label :Mi %></th>
			<th><%= f.label :Ju %></th>
			<th><%= f.label :Vi %></th>
		</tr>
		<tr>
			<th><%= f.check_box :Lu %></th> 
			<td><%= f.check_box :Ma %></td>
			<td><%= f.check_box :Mi %></td>
			<td><%= f.check_box :Ju %></td>
			<td><%= f.check_box :Vi %></td> 
		</tr>
	</table>
	<p>
		<%= f.label :profesor %><br>
		<%= f.text_field :profesor %>
	</p>
	<p>
		<%= f.label :capacidad %><br>
		<%= f.number_field :capacidad %>
	</p>
	<p>
		<%= f.submit %>
	</p>
	<% end %>
</div>

<div class="contentAdmin	">
	 <table class="acts">
		<tr>
		    <th style="width:50%">Actividad</th>
		    <th>Capacidad</th>
		    <th>Inicio</th>
		    <th>Fin</th>
		    <th>Maestro</th>
		    <th>Lu</th>
		    <th>Ma</th>
		    <th>Mi</th>
		    <th>Ju</th>
		    <th>Vi</th>
		</tr>
		<% for c in @acts %>
		<tr>
			<th><%= c.nombre %></th>
			<td><%= c.capacidad %></td>
			<td><%= c.horaInicio %></td>
			<td><%= c.horaFin %></td>
			<td><%= c.profesor %></td>
			<td><%= c.lu %></td>
			<td><%= c.ma %></td>
			<td><%= c.mi %></td>
			<td><%= c.ju %></td>
			<td><%= c.vi %></td>
		</tr>

	 	<% end %>
	</table>
</div>