<div class="sidebar">
  <p>Gym Tec</p>
  <a href="actividades">Actividades</a>
  <a href="consulta">Consulta</a>
  <a href="admin">Administrador</a>
</div>

<div class="form">
	<h1>Administrador</h1>
	<p>Crear Actividad</p>

	<%= form_for :actividad, url: admin_path do |f| %>
	<p>
		<%= f.label :nombre %><br>
		<%= f.text_field :nombre %>
	</p>
	<p>
		<%= f.label :hora_Inicio %><br>
		<%= f.time_field :hora_Inicio %>
	</p>
	<p>
		<%= f.label :hora_Fin %><br>
		<%= f.time_field :hora_Fin %>
	</p>
	<table>
		<tr>
			<th><%= f.label :Lu %></th>
			<th><%= f.label :Ma %></th>
			<th><%= f.label :Mi %></th>
			<th><%= f.label :Ju %></th>
			<th><%= f.label :Vi %></th>
		</tr>
		<tr>
			<th><%= f.check_box :Lu %></th> 
			<td><%= f.check_box :Ma %></td>
			<td><%= f.check_box :Mi %></td>
			<td><%= f.check_box :Ju %></td>
			<td><%= f.check_box :Vi %></td> 
		</tr>
	</table>
	<p>
		<%= f.label :profesor %><br>
		<%= f.text_field :profesor %>
	</p>

	<p>
		<%= f.submit %>
	</p>
	<% end %>
</div>

<div class="contentAdmin	">
	 <table class="acts">
		<% for c in @acts %>
		<tr>
		    <th style="width:50%">Acctividad</th>
		    <th>Inicio</th>
		    <th>Fin</th>
		    <th>Maestro</th>
		    <th>Dias</th>
		    <th></th>
		    <th></th>
		    <th></th>
		    <th></th>
		</tr>
		<tr>
			<th><%= c.nombre %></th>
			<th><%= c.horaInicio %></th>
			<th><%= c.horaFin %></th>
			<th><%= c.profesor %></th>
			<th><%= c.lu %></th>
			<th><%= c.ma %></th>
			<th><%= c.mi %></th>
			<th><%= c.ju %></th>
			<th><%= c.vi %></th>

		</tr>
	 	<% end %>
	</table>
</div>