<!-- The sidebar -->
<div class="sidebar">
	<p>Gym Tec</p>
  <a href="actividades">Actividades</a>
  <a href="consulta">Consulta</a>
  <a href="admin">Administrador</a>
</div>

<!-- Page content -->
<div class="content">
	
	 <table class="acts">
		<tr>
		    <th style="width:50%">Actividad</th>
		    <th>Dia</th>
		    <th>Capacidad</th>
		    <th>Inicio</th>
		    <th>Fin</th>
		    <th>Maestro</th>
		    <th>Disponibilidad</th>
		</tr>
		<% for c in @listaActividades %>
		<tr>
			<th><%= c.nombre %></th>
			<td><%= c.dia %></td>
			<th><%= c.capacidad %></th>
			<td><%= c.horaInicio %></td>
			<td><%= c.horaFin %></td>
			<td><%= c.profesor %></td>
			<td><%= c.activa %></td>
		</tr>
	 	<% end %>
	</table>
</div>